[push]
	default = simple
[alias]
	k = log --graph --oneline --decorate
	l = log --graph --stat --decorate --patch
[color]
	ui = auto
[pull]
	rebase = false
[user]
	email = code@diegoleal.co
	name = Diego Leal
[core]
	editor = code --wait

