[push]
	default = simple
[alias]
	k = log --graph --oneline --decorate
	l = log --graph --stat --decorate --patch
[color]
	ui = true
[pull]
	rebase = false
[user]
	email = code@diegoleal.co
	name = Diego Leal
[core]
	editor = code --wait

[color "diff-highlight"]
	oldNormal = red 
	oldHighlight = red 52
	newNormal = green 
	newHighlight = green 22

[color "diff"]
	meta = 11
	frag = magenta
	commit = yellow
	old = red
	new = green
	whitespace = red reverse
